/**********************************
Description...:CSS condition file for IE7
Copyright.....:Zabisco Ltd.
Author........:lewis@zabisco.com
Last Changed..:06-05-2009
Notes #1......:
/******************/
.clearfix {display:inline-block;}
.ui-helper-clearfix {display:inline-block;}

#progress input {font-size:1em;}

.form00 input.checker, .form00 input.radio {margin-bottom:-2px;background:none;}

.notepad input.check {vertical-align:middle;}
#text-pane {clear:none;}

#taby_h1, #taby_h2, #taby_h3, #taby_h4, .com-start {padding-bottom:8px;}

/*force dropdown extends*/
#form05-04a_holder, #form05-04b_holder, #form05-05a_holder, #form05-05b_holder, #form05-06a_holder, #form05-06b_holder, #form05-07a_holder, #form05-07b_holder, 
#form06-04a_holder, #form06-04b_holder, #form06-05a_holder, #form06-05b_holder {height:100px;position:static;}