
<%= render :partial => 'common/front_end_tabs' %>

  <div class="main-content  distance-bottom-more">
    <div class="inner-panel_lg_holder">
      <h2>Step 3 : Email Verified</h2>
      <div class="inner-panel_lg">
        <div id="tabx" class="clearfix">
          <div class="form00 fix-ie-preface">
		    <h1>Please Check Your Email</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eros dui, ornare id molestie vel, placerat id odio.
            Nam non lorem id mauris rutrum euismod vel at est. Ut at imperdiet eros. Suspendisse iaculis faucibus volutpat.
            Sed ac consectetur lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            Donec vulputate faucibus risus ut sollicitudin.</p>
			<center><h1><%= @email %></h1></center>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p><input type="button" value="Next Step" style="float: right;" name="step1" onclick="location.href='/expert_locations'" class="medium-button submit"/></p>
          </div>
	       <!-- 
	       <div class="just-panel">
           <div class="form00 fix-ie-preface">
              <h1>Choose Your Account Type</h1>
		   </div>
		   </div>
		   -->
        </div>
      </div>
    </div>
    

		<div class="clear c0">&nbsp;</div>
   </div>
