    <div id="footer">
      <ul>
        <li><a href="#">Overview</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Services</a></li>
        <li><a href="#">Sitemap</a></li>
      </ul>
      &copy;Xpert-in 2009
    </div>